.Feedback {
    background-color: #292E36;
    color: white;

    .container {
        padding: 100px 0;

        .headings {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .subText {
            font-family: Josefin Sans;
            font-size: 15px;
            font-weight: 500;
            line-height: 11.57px;
            letter-spacing: 0.27em;
            text-transform: uppercase;
            border-top: 1px solid #E1B168;
            border-bottom: 1px solid #E1B168;
            width: fit-content;
            padding: 5px;
        }

        .heading {
            font-family: Cormorant Infant;
            font-size: 40px;
            font-weight: 700;
            line-height: 30.84px;
            margin: 20px 0;
        }

        .text {
            margin-bottom: 50px;
        }

        .swiperContainer {

            .swiper-pagination-fraction,
            .swiper-pagination-custom,
            .swiper-horizontal>.swiper-pagination-bullets,
            .swiper-pagination-bullets.swiper-pagination-horizontal {
                display: none;
            }

            .swiper {
                width: 100%;
                height: 100%;
            }

            .swiper-slide {
                text-align: center;
                font-size: 18px;
                background: #fff;
                /* Center slide text vertically */

            }

            .swiper-slide img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            .swiper-slide {
                width: 80%;
            }

            .swiper-slide:nth-child(2n) {
                width: 60%;
            }

            .swiper-slide:nth-child(3n) {
                width: 40%;
            }

            .swiperCard {
                background-color: #343942;
                padding: 45px;
                max-width: 450px;

                .upper {
                    display: flex;
                    align-items: center;
                    justify-content: left;

                    .image {
                        height: 110px;
                        width: 110px;
                        object-position: center;
                        object-fit: cover;
                        border-radius: 50%;
                        margin-right: 30px;
                        overflow: hidden;
                        position: relative;

                        .dot {
                            position: fixed;
                            background-color: #E1B168;
                            height: 30px;
                            width: 30px;
                            border: 1px solid #292E36;
                            border-radius: 50%;
                            border-width: 2px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }

                    .info {
                        text-align: left;

                        .location {
                            margin-top: 10px;
                            color: #E1B168;
                        }
                    }
                }

                .line {
                    background-color: #797E89;
                    height: 1px;
                    width: 100%;
                    margin: 20px 0;
                }

                .text {
                    font-family: Cormorant Infant;
                    font-style: italic;
                    font-weight: 400;
                    line-height: 36.62px;
                    text-align: left;
                    margin-bottom: 0;
                }
            }
        }
    }
}